*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  background-color: rgb(48, 48, 48);
  display: flex;
  align-items: center;
  justify-content: center;
}

#calc {
  background: radial-gradient(
      circle at bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.2)
    ),
    radial-gradient(circle at top, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2)),
    radial-gradient(circle at left, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2)),
    radial-gradient(circle at right, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2));
  background-size: 300%;
  border: 1px solid rgba(255, 255, 255, 0.155);
  border-radius: 0.4rem;
  padding: 0.6rem;
}

#buttons-grid {
  margin-top: 1.2rem;
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: repeat(5, 5.2rem);
}

#monitor {
  margin-top: 0.8rem;
  height: 6.8rem;
}

.button {
  user-select: none;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: white;
  transition: background-color ease-in-out 0.1s;
}

svg {
  width: 2.2rem;
}

#clear {
  font-size: 1.6rem;
}

#result {
  color: black;
  background-color: rgb(207, 112, 88);
}
#result:hover {
  background-color: rgba(207, 112, 88, 0.766);
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.button.lighter-bg {
  background-color: rgba(255, 255, 255, 0.15);
}
.button.lighter-bg:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
