*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  background-color: rgb(48, 48, 48);
  display: flex;
  align-items: center;
  justify-content: center;
}

#calc {
  position: relative;
  background: radial-gradient(
      circle at bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.2)
    ),
    radial-gradient(circle at top, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2)),
    radial-gradient(circle at left, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2)),
    radial-gradient(circle at right, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2));
  background-size: 300%;
  border: 1px solid rgba(255, 255, 255, 0.155);
  border-radius: 0.4rem;
  padding: 0.6rem;
  padding-top: 2.4rem;
}

#buttons-grid {
  margin-top: 1.2rem;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: repeat(5, 5.2rem);
}

.button {
  user-select: none;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: white;
  transition: background-color ease-in-out 0.1s;
}

svg {
  width: 2.2rem;
}

.clear {
  font-size: 1.6rem;
}

#result {
  color: black;
  background-color: rgb(207, 112, 88);
}
#result:hover {
  background-color: rgba(207, 112, 88, 0.766);
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.button.lighter-bg {
  background-color: rgba(255, 255, 255, 0.15);
}
.button.lighter-bg:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#monitor {
  position: relative;
  margin-top: 0.8rem;
  height: 6.8rem;
  color: white;
  padding: 1.2rem;
  font-size: 4.8rem;
  text-align: right;
  letter-spacing: 1px;
}

#monitor-letter-placeholder {
  position: absolute;
  font-size: 4.8rem;
  visibility: hidden;
  pointer-events: none;
  letter-spacing: 1px;
  opacity: 0;
}

#monitor-text {
  display: inline-block;
}

#second-monitor {
  position: absolute;
  top: -1rem;
  right: 1.8rem;
  font-size: 1.8rem;
  color: rgb(164, 164, 164);
}

#second-monitor-letter-placeholder {
  position: absolute;
  font-size: 1.8rem;
  visibility: hidden;
  pointer-events: none;
  letter-spacing: 1px;
  opacity: 0;
}

.error {
  user-select: none;
  position: absolute;
  top: 2px;
  left: 4px;
  color: rgb(255, 128, 0);
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}

.error svg {
  width: 1.4rem;
}

.error.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 29em) {
  #calc {
    background-size: 250%;
    padding: 0.4rem;
    padding-top: 2rem;
  }

  #buttons-grid {
    gap: 0.2rem;
    grid-template-columns: repeat(4, 9rem);
    grid-template-rows: repeat(5, 4.6rem);
    margin-top: 1rem;
  }
  .button {
    font-size: 1.6rem;
  }
  svg {
    width: 1.9rem;
  }

  .error svg {
    width: 1.3rem;
  }
  #monitor {
    height: 6.4rem;
    font-size: 4.4rem;
  }
  #monitor-letter-placeholder {
    font-size: 4.4rem;
  }
  #second-monitor {
    font-size: 1.7rem;
  }

  #second-monitor-letter-placeholder {
    font-size: 1.7rem;
  }
}
@media (max-width: 25em) {
  #buttons-grid {
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(5, 4.1rem);
    margin-top: 0rem;
  }
  .button {
    font-size: 1.4rem;
  }
  svg {
    width: 1.7rem;
  }

  .error svg {
    width: 1.2rem;
  }
  .error {
    font-size: 1rem;
  }
  #monitor {
    padding: 0.8rem;

    font-size: 4rem;
  }
  #monitor-letter-placeholder {
    font-size: 4rem;
  }
  #second-monitor {
    font-size: 1.5rem;
  }

  #second-monitor-letter-placeholder {
    font-size: 1.5rem;
  }
}

@media (max-width: 22em) {
  html {
    font-size: 55.25%;
  }
}
